/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poller One', cursive; */

* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    margin: 0 auto;
    max-width: 25rem;
}

header {
	margin: 0 auto;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 1rem;
    box-shadow: 0 5px 5px 0 #2e557c;
    justify-content: space-between;
    border-radius: .25rem .25rem 0 0;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #ad7d37;  
    font-style: italic;
}
section#nav {
    font-family: 'Montserrat Alternates', sans-serif;
}

header nav {
    margin-right: .25rem;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: .5rem .5vw;
	border-top: 1px solid rgba(0, 0, 0, 0.9);
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

nav ul li.active {
	background-color: #7e7863;
}

nav ul li a:hover {
	background-color: #7e7863;
    border: 1px solid #ad7d37; 
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerButton {
    border: 3px solid #ad7d37;
    padding: 0;
    margin: 0 auto;
}

#hamburgerButton span {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#hamburgerButton span:nth-child(1) {
    display: block;
    font-size: 2rem;
    margin: 0 auto;
}

#hamburgerButton span:nth-child(2) {
    display: none;
    font-size: 2rem;
    margin: 0 auto;
}

#hamburgerButton.open span:nth-child(1) {
    display: none;
}

#hamburgerButton.open span:nth-child(2) {
	display: block;
}
nav ul.open {
	display: block;
}

main {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    position: relative;
}

section#nav {
    border-radius: .25rem;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    background-color: #381010;
    font-size: .8vw;
}

section#nav a {
    text-decoration: none;
    padding: 0.5rem .5vw;
    color: white;
}

section#nav a:hover {
    background-color: #2e557c;
	color: #ad7d37;
    border: 1px solid #ad7d37; 
}

/* Background image */
main picture {
    display: block;
    margin: 0 auto;
}

picture img {
    width: 400px;
    height: 500px;
    object-fit: cover;  
}

/* Position text on the left of the image */
#render-items {
    display: block;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px #ad7d37;
    position: absolute;
    top: 2%;
    left: 5%;
    line-height: 150%;
    padding: 5% 0; 
    text-align: left;
}

.displayImg img {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 500px;
}

.displayImg2 img {
    position: absolute;
    bottom: 1%;
    left: 0;
    width: 150px;
    height: 200px;
}

footer {
    background-color: #334e30;
    border-radius: 0 0 .25rem .25rem;
    display: flex;
    flex-direction: column;
	align-items: center;
	padding: 1rem;
    color: white;
    font-family: 'Poller One', cursive;
    font-size: .8vw;
}

section#page-navigation a {
    text-decoration: none;
    padding: .5rem;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: #ad7d37;
    border-radius: .25rem;
}

footer div {
    margin-top: 1rem;
}

/*-----GROUPS PAGE-----*/
ul#membersList {
    display: none;
}

h3.group {
    background-color: #381010;
    padding: 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #ad7d37;  
    font-style: italic;
    text-align: center;
}

section#render-items {
    margin-top: 1rem;
}

#groupList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .1rem 0;
}

.group-details {
    display: block;
    justify-content: space-between;
    padding: .1rem 0;
}

div.group-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.displayImg3 img {
    position: absolute;
    bottom: 1%;
    width: 400px;
    height: 100px;
}