main {
    max-width: 600px;
    margin: 1rem auto;
    
}
section {
    background-color: #bed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
}
