body {
    margin: 1rem auto;
    max-width: 800px;
    background-color: #bed;
}
body h1, body span, body section, body textarea {
    margin: 1rem;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
h2, .questions, .story-name {
    font-family: 'Noto sans', sans-serif;
}
.questions, .story-name {
    font-weight: 900;
}
.questions {
    color: red;
}
input {
    margin-left: 1rem;
    border-radius: .25rem;
}
.story-name input, .button1, .button2, .button3 {
    border-radius: .25rem;
    padding: .5rem;
    font-family: 'Noto sans', sans-serif;
}
.button2, .button3 {
    margin-left: 1rem;  
}
textarea{
    width:800px;
    height: 250px;
    background-color: lightyellow;
    border-radius: .25rem;
    font-family: 'Noto sans', sans-serif;
    padding: 1rem;
}
section#story_display {
    border: 1px solid #fcbc0b;
    border-radius: .25rem;
    background-color: lightskyblue;
    padding: 1rem;
    font-family: 'Noto sans', sans-serif;
    width: 800px;
}